@media (min-width: 32.5em){

    .title_name {
        font-size: 37px;
    }

    .subtitle_index {
        font-size: 30px;
        text-shadow: 4px 4px 8px #1F0A1E;
    }

    .lessons {
        font-size: 20px;
    }
    
}