@import url('https://fonts.googleapis.com/css?family=Montserrat');

@media (min-width: 1em) {

    #content {
        font-family: Montserrat, Verdana, Arial, sans-serif;
        max-width: 960px;
        margin: 0 auto;
        align-items: center;
    }

    main {
        padding-left: 2em;
    }

    header {
        padding: 1em;
    }

    .main_header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    footer {
        padding: 0.3em;
    }

    img {
        max-width: 100%;
        box-shadow: 5px 5px 5px #1F0A1E;
    }

    header,
    footer {
        background-color: #8F008C;
        color: white;
        box-shadow: 5px 5px 5px #1F0A1E;
        text-align: center;
        align-items: center;
        border-radius: 20px;
    }

    .subtitle_index {
        font-size: 23px;
        padding-top: 0.3em;
    }

    .header_lessons {
        border-radius: 0px;
        box-shadow: none;
        margin-bottom: 15px;
    }

    .footer-lessons {
        margin-top: 1em;
        border-radius: 0px;
        box-shadow: none;
        margin-bottom: 15px;
    }

    .prof_img img {
        grid-column: 1 / 2;
        
    }

    .title_name {
        grid-column: 2 / 4;
        font-size: 32px;
        text-shadow: 4px 4px 4px #1F0A1E;
    }

    .desing-principles-grid section{
        background-color: #edf2f4;
        border-radius: 10px 10px 0 0;
    }

    .desing-principles-grid  h3{
        background-color: #2b2d42;
        color: white;
        padding: 0.9em;
        margin-top: -0.1em;
        text-align: center;
        border-radius: 10px 10px 0 0;
    }

    .desing-principles-grid p {
        padding-left: 1em;
        padding-right: 1em;
        font-family: Lato, Montserrat, Georgia, 'Times New Roman', Times, serif;
    }

    .desing-principles-grid img{
        box-shadow: none;
    }

    .desing-principles-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1em;
    }
}