@import url('https://fonts.googleapis.com/css?family=Montserrat');

#content {
    font-family: Montserrat, Verdana, Arial, sans-serif;
    max-width: 1300px;
    margin: 0 auto;
    align-items: center;
}

main {
    padding-left: 2em;
}

header {
    padding: 1em;
}

header p{
    grid-column: 1 / -1;
    background-color: rgba(222, 110, 75, 0.6);
    padding: 0.7em;
    font-size: 18px;
    margin: 0.2em -0.5em -0.5em -0.5em;
    border-radius: 4px;
}

footer {
    padding: 0.3em;
    margin-top: 1em;
    border-radius: 8px, 0, 8px, 0;
}

footer img{
    max-width: 150px;
}

img {
    max-width: 100%;
    display: block;
    margin: auto auto auto auto;
}

header,
footer {
    background-color: #29335C;
    color: white;
    text-align: center;
    align-items: center;
    
}

h1, h2 {
    font-family: Playfair Display;
}

nav ul {
    list-style-type: none;
    text-align: center;
    align-items: center;
    font-size: 18px;
    padding-left: 0;
}

nav li{
    padding: 0.6em;
    margin-bottom: 0.5em;
}

nav a:hover{
    background-color: white;
    opacity: 0.95;
    color: #29335C;
    border-radius: 7px;
    font-weight: bolder;
    padding: 1em;
}

nav a{
    color: white;
    text-decoration: none;   
}

