@media screen and (min-width: 1em) {

    body {
        font-family: 'Montserrat', sans-serif;
        margin: 0 auto;
        background: #F9F9F9;
    }
    
    header, footer{
        text-align: center;
    }
    
    .banner {
        align-items: center;
    }
    
    .banner, footer {
        background-color: #0B3954;
        color: #F9F9F9;
        padding: 1em;
    }

    .title-banner {
        font-family: 'Libre Baskerville', serif;
        margin-bottom: 1.1em;
    }

    .home {
        text-transform: uppercase;
        text-decoration: none;
        color: #0B3954;
        background-color: rgba(250, 255, 247, 10);
        padding: 0.6em;
        border-radius: 5px;
    }

    .home:hover {
        font-weight: bolder;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
    }

    section {
        background-color: #f0f0f0;
        margin: 10px;
    }

    .subtitle {
        background-color: #AB3428;
        color: #f0f0f0;
        border-radius: 10px 10px 0 0;
        text-transform: uppercase;
        text-align: center;
        padding: 0.5em 0;
        margin-top: 0;
    }

    section p {
        margin: 1em;
    }

}