@media screen and (min-width: 32.5em){

    nav ul {
        flex-direction: row;
    }

    .active {
        border: white;
        border-bottom: 2px solid white;
        background: none;
    }

    main ul.colors {
        flex-direction: row;
    }

    main ul.colors li {
        padding: 4em 1em;
    }

    img {
        float: left;
        margin: 0 20px;
    }

    h2 {
        padding-top: 10px;
    }

}