@media screen and (min-width: 1em) {

    body {
        font-family: 'Montserrat', sans-serif;
        max-width: 940px;
        margin: 0 auto;
        background: #F9F9F9;
    }
    
    header, footer{
        text-align: center;
    }
    
    .banner {
        align-items: center;
    }
    
    .banner, footer {
        background-color: #0B3954;
        color: #F9F9F9;
        padding: 1em;
    }

    .title-banner {
        font-family: 'Libre Baskerville', serif;
        margin-bottom: 1.1em;
    }

    .home {
        text-transform: uppercase;
        text-decoration: none;
        color: #0B3954;
        background-color: #f0f0f0;
        padding: 0.6em;
        border-radius: 5px;
    }

    .home:hover {
        font-weight: bolder;
        padding: 0.75em;
        transition: 0.5s;
    }

    main {
        display: grid;
        /**/
    }

    section {
        background-color: #f0f0f0;
        margin: 10px;
    }

    .subtitle {
        background-color: #AB3428;
        color: #f0f0f0;
        border-radius: 10px 10px 0 0;
        text-align: center;
        padding: 1em;
        margin-top: 0;
    }

    .company-name {
        text-transform: uppercase;
        font-weight: bold;
    }

    section p {
        margin: 1em;
        line-height: 1.5;
        text-align: center;
    }

    img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

}