@media screen and (min-width: 1em) {

    body {
        font-family: 'Montserrat', sans-serif;
        max-width: 940px;
        margin: 0 auto;
        background: #F9F9F9;
    }
    
    header, footer{
        text-align: center;
    }

    nav ul {
        list-style: none;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    nav ul li {
        flex: 1 1 auto;
        padding: 0.5em;
    }

    nav ul li a{
        text-decoration: none;
        font-weight: bold;
        color: white;
    }
    ul {
        padding-inline-start: 0;
    }

    .active {
        border: none;
        background-color: #44617e;
    }
    
    .banner {
        align-items: center;
    }
    
    .banner, footer {
        background-color: #0B3954;
        color: #F9F9F9;
        padding: 1em;
        border-radius: 5px;
    }

    .title-banner {
        font-family: 'Libre Baskerville', serif;
        margin-bottom: 1.1em;
    }

    .home {
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        color: #0B3954;
        background-color: #f0f0f0;
        padding: 0.6em;
        border-radius: 5px;
    }

    .home:hover {
        font-weight: bolder;
        padding: 0.75em;
        transition: 0.5s;
    }

/*
    img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
*/
}