* {
	font-family: "Montserrat", Arial, sans-serif;
}

body {
    background: #F9F9F9;
	margin: 0;
}

main {
	max-width: 940px;
	margin: 50px auto;
    display: flex;
    justify-content: center;

}

table {
    border-collapse: collapse;
}

thead, .empty{
    font-size: 1.25rem;
    background-color: #0B3954;
    color: #F9F9F9;
}

thead tr:nth-child(2){
    background-color: rgba(51, 100, 128, 0.5);
}

tbody tr td:first-child {
    font-weight: bold;
}

tbody tr:nth-child(even){
    background-color: rgba(135, 151, 178, 0.5);
}

td, th {
    text-align: center;
    border: 1px solid #0B3954;
    padding: 10px 15px;
}

caption {
    caption-side: bottom;
    padding: 0.5em;
    font-size: 14px;
}

footer {
	background-color: #0B3954;
	color: #F9F9F9;
	padding: 0.5em 0;
	width: 100%;
	text-align: center;
	font-size: 13px;
    line-height: 1.5;
    
}

.home {
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	color: #0B3954;
	background-color: #f0f0f0;
	padding: 0.4em 1em;
	border-radius: 5px;
	margin-top: 3px;
}

@media screen and (max-width: 32.5em) {

    table {
        transform: scale(0.75);
    }
}

@media screen and (max-width: 320px) {

    table {
        transform: scale(0.6);
    }
}