@media screen and (min-width: 1em) {

    body {
        font-family: 'Montserrat', sans-serif;
        margin: 0 auto;
    }

    h1, h2, h3, h4 {
        font-family: 'Libre Baskerville', serif;
    }

    /* -  -  HEADER  -  - */
    
    header, footer{
        background-color: #0B3954;
        color: #F9F9F9;
        padding: 10px;
        text-align: center;
        align-items: center;
        max-width: 100%;
    }

    .hidden {
        display: none;
    }

    #banner-news {
        background-color: #F49E4C;
        text-align: center;
        font-weight: bold;
        color: #021621;
        padding: 1em;        
    }

    #banner-news p {
        margin: 0;
    }

    .header-grid{
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
    }

    .logo-header {
        grid-column: 1/2;
        max-width: 70px;
        margin: 0 auto;
    }

    .title-chamber {
        grid-column: 2/3;
        align-self: start;
    }

    .title-name {
        font-family: 'Libre Baskerville', serif;
        font-size: 16px;
        text-align: left;
        align-self: center;
        padding: 5px;
        margin-left: 1em;
    }

    .title-desc {
        font-size: 13px;
    }

    nav {
        grid-column: 3/4;
        display: flex;
        align-self: center;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .active {
        border: none;
        background-color: #8797B2;
    }

    .navigation {
        list-style: none;
        padding-inline-start: 0;
        margin: 0;
    }

    .navigation li:first-child {
        display: block;
    }

    .navigation li:first-child:hover {
        background: rgba(135, 151, 178, 30%);
    }

    .navigation li:first-child a{
        padding: 0;
    }

    .navigation li {
        display: none;
    }

    .navigation li:hover {
        border: none;
        background-color: #8797B2;
    }
    
    .navigation a {
        text-decoration: none;
        display: block;
        padding: 12px;
        text-align: center;
        color: white;
        font-weight: 700;
    }

    #menu::before {
        content: "≡";
        font-size: 30px;
        margin: 5px;
    }

    .responsive li {
        display: block;
    }

    .responsive #menu::before {
        content: "×";/*⛌*/
        font-size: 36px;
    }

    .social-media a {
        align-self: center;
        height: 32px;
        padding: 5px;
    }

    .social-media img {
        max-width: 20px;
        margin: 6px;
    }

    .social-media a:hover {
        background: rgba(135, 151, 178, 30%);
        border-radius: 25px;
        transition: 0.5s;
    }

    .date-banner {
        grid-row: 2/3;
        grid-column: 1/4;
    }

    #current-date {
        display: block;
        background-color: #8797B2;
        color: white;
        padding: 10px;
        margin-bottom: 0;
    }

    /* -  -  MAIN  -  - */

    main {
        display: grid;
        grid-auto-rows: minmax(auto, auto);
        margin: 10px;
        gap: 10px;
    }

    main section {
        background: #F9F9F9;
        padding: 15px;
        display: flex;
        align-items: center;
    }

    main section div a {
        text-decoration: none;
        font-weight: bold;
        color:#F49E4C;
    }

    main section div a:hover {
        color:#AB3428;
    }

    .hero {
        padding: 0;
        display: block;
    }

    .hero-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        top: -18px;
    }

    .join-hero-button {
        display: inline-block;
        position: relative;
        top: 3em;
        left: 0.5em;
        z-index: 1;
    }

    .join-hero-button a {
        background-color: #F49E4C;
        color: white;
        padding: 1em 1.5em;
        border-radius: 25px;
    }

    .join-hero-button a:hover {
        background-color: #AB3428;
        color: white;
        transition: 1.5s;
    }

    .event, .weather, .news, .spotlights div, .join {
        text-align: center;
        justify-content: center;
    }

    .weather-icon-temp{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0;
        font-size: 35px;
    }

    .weather-icon {
        font-size: 80px;
    }

    .icon-emoji {
        font-size: 70px;
    }

    .spotlights {
        display: block;
    }

    .spotlights div {
        padding: 10px;
        border: gray solid 1px;
        margin-bottom: 10px;
    }

    .spotlight-3 {
        display: none;
    }

    .join {
        display: none;
    }

    /* -  -  FOOTER  -  - */

    footer .address-desc, footer .contact-information {
        font-size: 15px;
    }

    .logo-footer {
        max-width: 160px;
    }

    .title {
        font-family: 'Libre Baskerville', serif;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .address-desc {
        margin: 5px;
    }

    .location a, .home{
        color: #F9F9F9;
        font-weight: bold;
        text-decoration: none;
    }

    .location a:hover, .home:hover {
        background-color: #F9F9F9;
        color: #0B3954;
        padding: 7px;
        border-radius: 5px;
        transition: 1s;
    }

    .page-details p:nth-child(3) {
        margin-top: 15px;
    }

    .page-details > p{
        margin: 5px;
        font-size: 13px;
    }

    /*  -  -  -  -  -  D I S C O V E R  -  -  -  -  -  */

    .discover-main {
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
        line-height: 1.5;
        margin: 1em;
        padding-top: 1em;
        background-color: #F9F9F9;
    }

    .discover-main div {
        grid-column: 1/2;
    }

    .demographic-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: left;
    }

    .discover-main section {
        max-width: 500px;
        margin: 0 auto;
        text-align: left;
    }

    .discover-main div img {
        max-width: 100%;
    }

    .festival {
        font-weight: bold;
        max-width: 420px;
        margin: 0 auto;
        text-align: center;
    }

    .visits p{
        background-color: #8797B2;
        padding: 10px 0;
        margin: 5px 0;
    }

    /*  -  -  -  -  -  J O I N  -  -  -  -  -  */

    .join-main, .thanks-main, .directory-main {
        display: block;
        max-width: 940px;
        margin: 2em 10px;
    }

    .join-body, .thanks-body {
        background-color: #F9F9F9;
    }

    .join-main h2 {
        text-align: center;
    }

    .join-main form fieldset {
        margin: 1.5em 0;
        border: 1px solid;
        border-radius: 15px; /*5*/
        padding: 15px 2%;
    }

    .join-main form legend {
        padding: 0 5px;
        margin: 0 10px;
    }

    .join-main label.top {
        display: block;
        padding-top: 1em;
        font-size: 14px;
    }

    .join-main label.top input, .join-main label.top textarea {
        display: block;
        font-size: 16px;
        padding: 12px;
        border: gray solid 1px;
        background-color: rgba(135, 151, 178, 0.1);
        border-radius: 8px; /*3*/
        width: 90%;
        max-width: 20em;
    }

    .join-main label.sbs {
        display: block;
        padding: 8px;
    }

    .join-main input.submitBtn {
        border: none;
        background-color: #F49E4C;
        color: white;
        padding: 1em 1.5em;
        border-radius: 25px;
        width: 96%;
        max-width: 300px;
    }

    .join-main input.submitBtn:hover {
        background-color: #AB3428;
        color: white;
        transition: 1.5s;
    }

    form label.top input:required, form label.top.b-position input:invalid {
        border-left: #AE0A25 solid 6px;
    }
    
    form label.top input:required:valid {
        border-left: #24A810 solid 6px;
    }

    .membership-desc {
        border: #8797B2 1px solid;
        border-radius: 15px; /*5*/
        padding: 15px 2%;
        background: rgba(135, 151, 178, 30%);
    }

    /*  -  -  -  -  -  T H A N K   Y O U  -  -  -  -  -  */

    .thanks-main {
        margin: 4em 1em;
        text-align: center;
    }

    .emoji-medium {
        font-size: 40px;
    }

    /*  -  -  -  -  -  D I R E C T O R Y  -  -  -  -  -  */

    .directory-main {
        text-align: center;
        margin: 2em auto;
    }

    .display-btns {
        background:rgba(244, 158, 76, 85%);
        background-color: #F49E4C;
        padding: 10px;
        margin: 5px 10px;
    }

    .gallery{
        display: grid;
        grid-template-columns: 100%;
        gap: 5px;
        margin: 10px;
    }

    .gallery a {
        font-size: 0.8rem;
    }

    .table-dir {
        display: block;
    }

    table {
        border-collapse: collapse;
        margin: 10px;
    }
    
    tbody tr:nth-child(even){
        background-color: rgba(244, 158, 76, 15%);
    }

    tr {
        height: 60px;
    }

    td {
        padding: 5px;
    }

    td a {
        text-decoration: none;
        font-weight: bold;
        color: #0B3954;
        text-overflow: ellipsis;
    }

    td a:hover {
        color: #AB3428;
        transition: 0.5s;
    }

    td {
        font-size: 0.55rem;
    }

    td:first-child{
        width: 20%;
    }

    td:nth-child(2){
        width: 35%;
    }

    td:nth-child(3){
        width: 15%;
    }

    td:nth-child(4){
        width: 30%;
        font-size: 0.4rem;
    }

    .dir-sect {
        display: block;
        grid-column: auto;
    }

    .display-btns button {
        border: none;
        border-radius: 12px;
        padding: 5px 15px;
        margin: 5px;
    }
    
    .display-btns button:hover, .display-btns button.active{
        background-color: #AB3428;
        color: white;
        font-weight: bold;
        transition: 1.5s;
    }
}