@media screen and (min-width: 1em) {

    body {
        font-family: 'Montserrat', sans-serif;
        margin: 0 auto;
    }

    h1, h2, h3, h4 {
        font-family: 'Libre Baskerville', serif;
    }

    /* -  -  HEADER  -  - */
    
    header, footer{
        background-color: #0B3954;
        color: #F9F9F9;
        padding: 10px;
        text-align: center;
        align-items: center;
        max-width: 100%;
    }

    .hidden {
        display: none;
    }

    #banner-news {
        background-color: #F49E4C;
        text-align: center;
        font-weight: bold;
        color: #021621;
        padding: 1em;        
    }

    #banner-news p {
        margin: 0;
    }

    .header-grid{
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
    }

    .logo-header {
        grid-column: 1/2;
        max-width: 70px;
        margin: 0 auto;
    }

    .title-chamber {
        grid-column: 2/3;
        align-self: start;
    }

    .title-name {
        font-family: 'Libre Baskerville', serif;
        font-size: 16px;
        text-align: left;
        align-self: center;
        padding: 5px;
        margin-left: 1em;
    }

    .title-desc {
        font-size: 13px;
    }

    nav {
        grid-column: 3/4;
        display: flex;
        align-self: center;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .active {
        border: none;
        background-color: #8797B2;
    }

    .navigation {
        list-style: none;
        padding-inline-start: 0;
        margin: 0;
    }

    .navigation li:first-child {
        display: block;
    }

    .navigation li:first-child:hover {
        background: rgba(135, 151, 178, 30%);
    }

    .navigation li:first-child a{
        padding: 0;
    }

    .navigation li {
        display: none;
    }

    .navigation li:hover {
        border: none;
        background-color: #8797B2;
    }
    
    .navigation a {
        text-decoration: none;
        display: block;
        padding: 12px;
        text-align: center;
        color: white;
        font-weight: 700;
    }

    #menu::before {
        content: "≡";
        font-size: 30px;
        margin: 5px;
    }

    .responsive li {
        display: block;
    }

    .responsive #menu::before {
        content: "×";/*⛌*/
        font-size: 36px;
    }

    .social-media a {
        align-self: center;
        height: 32px;
        padding: 5px;
    }

    .social-media img {
        max-width: 20px;
        margin: 6px;
    }

    .social-media a:hover {
        background: rgba(135, 151, 178, 30%);
        border-radius: 25px;
        transition: 0.5s;
    }

    .date-banner {
        grid-row: 2/3;
        grid-column: 1/4;
    }

    #current-date {
        display: block;
        background-color: #8797B2;
        color: white;
        padding: 10px;
        margin-bottom: 0;
    }

    /* -  -  MAIN  -  - */

    main {
        display: grid;
        grid-auto-rows: minmax(auto, auto);
        margin: 10px;
        gap: 10px;
    }

    main section {
        background: #F9F9F9;
        padding: 15px;
        display: flex;
        align-items: center;
    }

    main section div a {
        text-decoration: none;
        font-weight: bold;
        color:#F49E4C;
    }

    main section div a:hover {
        color:#AB3428;
    }

    .hero {
        padding: 0;
        display: block;
    }

    .hero-img {
        width: 100%;
    }

    .join-hero-button {
        display: inline-block;
        position: relative;
        top: 3em;
        left: 0.5em;
    }

    .join-hero-button a {
        background-color: #F49E4C;
        color: white;
        padding: 1em 1.5em;
        border-radius: 25px;
    }

    .join-hero-button a:hover {
        background-color: #AB3428;
        color: white;
        transition: 1.5s;
    }

    .event, .weather, .news, .spotlights div, .join {
        text-align: center;
        justify-content: center;
    }

    .weather-icon-temp{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0;
        font-size: 35px;
    }

    .weather-icon {
        font-size: 80px;
    }

    .icon-emoji {
        font-size: 70px;
    }

    .spotlights {
        display: block;
    }

    .spotlights div {
        padding: 10px;
        border: gray solid 1px;
        margin-bottom: 10px;
    }

    .spotlight-3 {
        display: none;
    }

    .join {
        display: none;
    }

    /* -  -  FOOTER  -  - */

    footer .address-desc, footer .contact-information {
        font-size: 15px;
    }

    .logo-footer {
        max-width: 160px;
    }

    .title {
        font-family: 'Libre Baskerville', serif;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .address-desc {
        margin: 5px;
    }

    .location a, .home{
        color: #F9F9F9;
        font-weight: bold;
        text-decoration: none;
    }

    .location a:hover, .home:hover {
        background-color: #F9F9F9;
        color: #0B3954;
        padding: 7px;
        border-radius: 5px;
        transition: 1s;
    }

    .page-details p:nth-child(3) {
        margin-top: 15px;
    }

    .page-details > p{
        margin: 5px;
        font-size: 13px;
    }

    /*  -  -  -  -  -  D I S C O V E R  -  -  -  -  -  */

    .discover-main {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
        margin: 1em;
        background-color: #F9F9F9;
    }

    .discover-main p {
        width: 940px;
    }

    .discover-main picture img {
        max-width: 500px;
    }

    .discover-main picture img:hover {
        filter: drop-shadow(2px 4px 10px #0B3954);
    }
    

}