@media screen and (min-width: 1em) {

    body {
        font-family: 'Montserrat', sans-serif;
        margin: 0 auto;
    }
    
    header, footer{
        text-align: center;
        max-width: 100%;
    }
/*
    nav ul {
        list-style: none;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding-inline-start: 0;
    }

    nav ul li {
        flex: 1 1 auto;
        padding: 0.5em;
    }

    nav ul li a{
        text-decoration: none;
        font-weight: bold;
        color: white;
    }

    .active {
        border: none;
        background-color: #8797B2;
    }
*/    
    .banner {
        align-items: center;
    }
    
    .banner, footer {
        background-color: #0B3954;
        color: #F9F9F9;
        padding: 1em;
    }

    .title-banner {
        font-family: 'Libre Baskerville', serif;
        margin-bottom: 1.1em;
    }

    #current-date {
        display: block;
        background-color: #8797B2;
        color: white;
        padding: 10px;
        margin-bottom: 0;
    }

    main {
        display: grid;
        grid-auto-rows: minmax(150px, auto);
        margin: 10px;
        gap: 10px;
    }

    main section {
        background: #F9F9F9;
        padding: 15px;
    }

    .spotlights {
        display: block;
    }

    .spotlights div {
        padding: 10px;
        padding-bottom: 120px;
        border: gray solid 1px;
    }

    .spotlight-3 {
        display: none;
    }

    .join {
        display: none;
    }

    footer .address-desc, footer .contact-information {
        font-size: 15px;
    }

    .title {
        font-family: 'Libre Baskerville', serif;
        margin-bottom: 5px;
    }

    .address-desc {
        margin: 5px;
    }

    .location a, .home{
        color: #F9F9F9;
        font-weight: bold;
        text-decoration: none;
    }

    .location a:hover, .home:hover {
        background-color: #F9F9F9;
        color: #0B3954;
        padding: 7px;
        border-radius: 5px;
        transition: 1s;
    }

    .page-details p:nth-child(3) {
        margin-top: 15px;
    }

    .page-details > p{
        margin: 5px;
        font-size: 13px;
    }
/*
    img {
        max-width: 100%;
        display: block;
        margin: 20px auto;
    }

    .logo {
        float: none;
        margin: 0 auto;
    }*/

}