@media screen and (min-width: 65em) {

    /* -  -  HEADER  -  - */

    .header-grid {
        display: grid;
        grid-template-columns: 10% 20% auto;
    }

    .logo-header {
        grid-column: 1/2;
        margin: 0 auto;
    }

    .title-chamber {
        grid-column: 2/3;
        align-self: center;
    }

    nav {
        grid-column: 3/4;
        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
    }

    .navigation {
        display: flex;
        align-items: center;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
        margin: 0 1em;
    }

    .navigation li:hover {
        border: white;
        border-bottom: 2px solid white;
        background: none;
    }

    li.social-media:hover {
        border: none;
    }

    /* -  -  MAIN  -  - */

    main {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .join-hero-button {
        top: 36em;
        left: 1.5em;
    }

    .event {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .join {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .hero {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .news {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .spotlights {
        grid-column: 3/4;
        grid-row: 1/4;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .spotlights div {
        margin-bottom: 5px;
        width: 92%;
    }

    .spotlight-3 {
        display: block;
        margin-bottom: 0;
    }

    /* -  -  FOOTER  -  - */

    section.address {
        margin: auto 80px;
    }
    
}
