@media screen and (min-width: 32.5em){

    .social-media {
        margin-left: 100px;
    }

    main section, .join {
        grid-column: 1/4;
    }

    .news {
        grid-row: 2;
    }

    .spotlights {
        grid-row: 3;
        display: flex;
        justify-content: space-around;
    }

    .spotlights div {
        margin: 0 auto;
        width: 45%;
    }

    .join {
        display: block;
        grid-row: 4;
        background: #F9F9F9;
        padding: 15px;
        min-height: 150px;
    }

    .join-join-button a {
        display: block;
        background-color: #F49E4C;
        color: white;
        border-radius: 25px;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .join-join-button a:hover {
        background-color: #AB3428;
        color: white;
        transition: 1.5s;
    }

    .event {
        grid-column: 1/3;
    }

    .weather {
        grid-column: 3/4;
    }

    .chamber-details {
        display: flex;
    }

    .contact-information {
        flex: auto;
    }

    .contact-information, .address {
        align-self: center;
    }

}