@media screen and (min-width: 32.5em){

    main {
        grid-template-columns: 1.5fr 1fr;
    }

    main section, .join {
        grid-column: 1/4;
    }

    .news {
        grid-row: 2;
    }

    .spotlights {
        grid-row: 3;
        display: flex;
        justify-content: space-around;
    }

    .spotlights div {
        margin: 0 auto;
        width: 45%;
        height: 95%;
    }

    .join {
        display: flex;
        justify-content: space-evenly;
        grid-row: 4;
        background: #F9F9F9;
        padding: 15px;
        min-height: 150px;
    }

    .join-join-button a {
        display: block;
        background-color: #F49E4C;
        color: white;
        border-radius: 25px;
        padding-top: 1em;
        padding-bottom: 1em;
        transition: 1.5s;
    }

    .join-join-button a:hover {
        background-color: #AB3428;
        color: white;
        transition: 1.5s;
    }

    .event {
        grid-column: 1/2;
    }

    .weather {
        grid-column: 2/3;
        justify-content: space-evenly;
    }

    .chamber-details {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        align-items: center;
        justify-items: center;
    }

    .contact-information {
        flex: auto;
    }

    .contact-information, .address {
        align-self: center;
    }

    /*  -  -  -  -  -  D I S C O V E R  -  -  -  -  -  */

    .discover-main div img:hover {
        filter: drop-shadow(2px 4px 10px #0B3954);
    }

    /*  -  -  -  -  -  T H A N K   Y O U  -  -  -  -  -  */

    .thanks-main {
        margin: 6em auto;
    }

    .thanks-desc {
        font-size: 20px;
    }

    /*  -  -  -  -  -  D I R E C T O R Y  -  -  -  -  -  */

    .gallery {
        grid-template-columns: 50% 50%;
    }

    td {
        font-size: 0.8rem;
    }

    td:nth-child(4){
        font-size: 0.7rem;
    }

}