body {
    font-family: 'Montserrat', sans-serif;
    max-width: 940px;
    margin: 0 auto;
    background: #F9F9F9;
}

header, footer{
    text-align: center;
}

.banner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.banner, footer, .banner-temporal {
    background-color: #0B3954;
    color: #F9F9F9;
    padding: 1em;
    border-radius: 10px;
}

.profile-picture {
    height: 200px;
    margin: 0 auto;
}

.title-banner {
    font-family: 'Libre Baskerville', serif;
    grid-column: 2 / 4;
}

main {
    margin: 0 10%;
}

h2{
    font-weight: bold;
    font-size: 30px;
}

.lessons-list li {
    line-height: 1.5;
}

.lessons-list li a {
    font-weight: bold;
}

.lessons-list li a:hover {
    color: #58A4B0;
    text-decoration: none;
}

/* TEMPORAL PAGE */

.temporal-text {
    text-align: center;
    margin: 20% 0;
}